@font-face {
    font-family: "Montserrat";
    src: url("../assets/fonts/Montserrat-Regular.ttf");
    font-style: normal;
}


body,
html {
    height: 100%;
    width: 100%;
    overflow-x: clip;
    margin: 0;
}

.dashboard {
    height: 200%;
    width: 100%;
    background: linear-gradient(#E2F1FF, #FFFFFF);

}

.dash_header {
    height: 50%;
    width: 100%;
    padding-top: 2.5%;
}

.scroll-container {
    position: relative;
    left: 10%;
    overflow-x: scroll;
    overflow-y: clip;
    white-space: nowrap;
    width: 80%;
    height: 65%;
    border-radius: 30px;
}

.scroll-container::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.scroll-container img {
    height: 100%;
    width: auto;

}

.prev {
    position: absolute;
    left: 9.5%;
    top: 37.5%;
    background-color: white;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.25s;
}

.next {
    position: absolute;
    right: 9.5%;
    top: 37.5%;
    background-color: white;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s;
}

.car_name {
    font-family: Montserrat, serif;
    font-size: 72px;
    height: auto;
    margin-top: 10px;
    position: absolute;
    left: 10%;
}

.car_info {
    font-family: Montserrat, serif;
    margin-top: 120px;
    font-size: 32px;
    height: auto;
    position: absolute;
    left: 10%;
}

.dash_footer {
    height: 50%;
    width: 100%;
}

.price_logo {
    font-family: Montserrat, serif;
    margin-top: 85px;
    font-size: 72px;
    height: auto;
    position: absolute;
    left: 10%;
}
