/* Шрифт для логотипа */
@font-face {
    font-family: "LibreBarcode39";
    src: url("../assets/fonts/LibreBarcode39Text-Regular.ttf");
    font-weight: 400;
    font-style: normal;
    font-size: 128px;
}

html,
body {
    height: 100%;
    width: 100%;
    overflow-x: clip;
    max-width: 100%;
    margin: 0;
}

.main_page {

    height: 300%;
    background: linear-gradient(#E2F1FF, #FFFFFF);
}

/* Страница логотипа */
.logo_page {
    height: calc(100% / 3);
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {

    display: flex;
    justify-content: center;
    position: fixed;
    font-family: "LibreBarcode39", serif;
    font-size: 128px;

}

.logo_cars {
    display: flex;
    position: absolute;
    z-index: 2;
}

#black_left {
    width: 484px;
    height: 332px;
    position: absolute;
    top: -332px;
    left: -484px;
    background-image: url("../assets/images/Group 23.svg");
}

#white {
    width: 476px;
    height: 282px;
    position: absolute;
    top: -282px;
    left: -476px;
    background-image: url("../assets/images/Middle one white.svg");
}


#black_right {
    width: 484px;
    height: 332px;
    position: absolute;
    top: -332px;
    left: -484px;
    background-image: url("../assets/images/Group 23.svg");
}

/* Описание */
.description_page {
    height: calc(100% / 3);
    width: 100%;
}

/* Поиск */
.search_page {
    height: calc(100% / 3);
    width: 100%;
}