@font-face {
    font-family: "Montserrat";
    src: url("../assets/fonts/Montserrat-Regular.ttf");
    font-style: normal;
}

body {
    font-family: Montserrat;
}

.search-container {
    margin-top: 10%;
    margin-left: 15%;
    display: flex;
    align-items: center;
}

.search-bar {
    font-size: 32px;
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 25px 25px 25px 25px;
    overflow: hidden;
    padding: 10px 0px;
    background-color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.icon {
    position: absolute;
    width: 52px;
    height: 22px;
    top: 16.7%;
    padding: 0px 10px;
}

.icon img {
    width: 52px;
    height: 22px;
}

.dropdown {
    display: flex;
    padding: 10px 20px;
    border-right: 1px solid #ccc;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dropdown:last-child {
    border-right: none;
}

.arrow-next img {
    width: 26px;
    height: 18px;
}

.arrow-next {
    padding: 0 20px;
}

.arrow-down img {
    width: 22px;
    height: 15px;
}

.arrow-down {
    padding-left: 15px;
}