* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

form {
  font-family: 'Montserrat';
  font-weight: 600;
  border-radius: 10px 10px 10px 10px;
  position: relative;
  width: 190px;
}

.search-container{
  margin-left: 10%;
  margin-top: 10%;
  display: flex;
}

.chosen-value,
.value-list {
  border-radius: 0 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.chosen-value {
  font-family: 'Montserrat';
  border-radius: 0 0 0 0;
  font-weight: 600;
  letter-spacing: 2px;
  height: 64px;
  font-size: 16px;
  padding: 16px;
  background-color: #ffffff;
  border: 3px solid transparent;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.chosen-value::-webkit-input-placeholder {
  color: #a8a8a8;
}
.chosen-value:hover {
  background-color: #e7e7e7;
  cursor: pointer;
}
.chosen-value:hover::-webkit-input-placeholder {
  color: #a8a8a8;
}
.chosen-value:focus, .chosen-value.open {
  outline: 0;
  background-color: #e7e7e7;
  color: #000;
}
.chosen-value:focus::-webkit-input-placeholder, .chosen-value.open::-webkit-input-placeholder {
  color: #000;
}

.value-list {
  list-style: none;
  margin-top: 4rem;
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  max-height: 0;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.value-list.open {
  max-height: 320px;

  border-right: 2px solid #D9D9D9;
  border-bottom: 2px solid #D9D9D9;
  border-left: 2px solid #D9D9D9;

  overflow: auto;
}
.value-list li {
  position: relative;
  height: 52px;
  background-color: #ffffff;
  padding: 1rem;
  font-size: 1.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
  opacity: 1;
}
.value-list li:hover {
  background-color: #dcdcdc;
}
.value-list li.closed {
  max-height: 0;
  overflow: hidden;
  padding: 0;
  opacity: 0;
}

.next-arrow{
  display: flex;
  width: 26px;
  height: 18px;
  margin-left: 20px;
  margin-top: 22px;
}

/* верхушка меню */
#layout_form{

  border-top: 2px solid #D9D9D9;
  border-right: 2px solid #D9D9D9;
  border-bottom: 2px solid #D9D9D9;
  border-left: 2px solid #D9D9D9;

  border-radius: 10px 0 0 10px;
}

#layout_form:hover {
  border-top: 2px solid #D9D9D9;
  border-right: 2px solid #D9D9D9;
  border-bottom: 2px solid #D9D9D9;
  border-left: 2px solid #D9D9D9;
}

/* выпадающее меню */
#layout_input{
  border-radius: 0 0 10px 10px;
}

#model_form{
  border-top: 2px solid #D9D9D9;
  border-right: 2px solid #D9D9D9;
  border-bottom: 2px solid #D9D9D9;
  border-left: 2px solid #D9D9D9;
}

#model_input{
  border-radius: 0 0 10px 10px;
}

#year_form{
  border-top: 2px solid #D9D9D9;
  border-right: 2px solid #D9D9D9;
  border-bottom: 2px solid #D9D9D9;
  border-left: 2px solid #D9D9D9;
}

#year_input{
  border-radius: 0 0 10px 10px;
}

#color_form{
  border-top: 2px solid #D9D9D9;
  border-right: 2px solid #D9D9D9;
  border-bottom: 2px solid #D9D9D9;
  border-left: 2px solid #D9D9D9;
}

#color_input{
  border-radius: 0 0 10px 10px;
}

#body_form{
  border-top: 2px solid #D9D9D9;
  border-right: 2px solid #D9D9D9;
  border-bottom: 2px solid #D9D9D9;
  border-left: 2px solid #D9D9D9;
}

#body_input{
  border-radius: 0 0 10px 10px;
}

#odometr_form{
  border-top: 2px solid #D9D9D9;
  border-right: 2px solid #D9D9D9;
  border-bottom: 2px solid #D9D9D9;
  border-left: 2px solid #D9D9D9;

  border-radius: 0 10px 10px 0;
}

#odometr_input{
  border-radius: 0 0 10px 10px;
}